body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#codigo {
    position: absolute; /* Posición absoluta */
    left: 0; /* Alineado a la izquierda */
    top: 50px; /* Ajusta según la posición vertical que desees */
    width: 200px; /* Ancho deseado */
    background-color: #f0f0f0; /* Color de fondo para visualizar mejor */
    padding: 10px; /* Espaciado interno */
}
